doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title tektōn
    style.
      html, body {
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
      }
  body
    canvas
    script(type='text/javascript', src='app.js')
